@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("animations.css");

:root {
  --primary-color: #1c5c4f;
  --primary-color-dark: #9d2348;
  --text-dark: #13322b;
  --text-light: #b38e5d;
  --white: #fff;
  --max-width: 1200px;

  --guinda: #9d2348;
  --verde: #1a5c50;
  --dorado: #d3bf9a;
  --gris: #666c6c;
  --doradoIntenso: #bc955c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

.adminTools {
  background-color: #00bb77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='106' height='106' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='0.04' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
}
